<nav>
    <a href="/">Home</a>
    <ul>
      <li>
        <a href="/">Director</a>
      </li>
      <li>
        <a href="/about">Media</a>
        <!-- will want the sublinks for media - posters, audio, why band? -->
      </li>
    </ul>
</nav>