<nav class='nav'>
  <ul>
    <li class='nav__link'>
      <a href="views/director">Home</a>
    </li>
    <li class='nav__link'>
      <a href="https://www.reddit.com/">Director</a>
    </li>
    <li class='nav__link'>
      <a href="/about">Media</a>
    </li>
    <li class='nav__link'>
      <a href='#'>Events</a>
    </li>
  </ul>
</nav>