$color-green: green;
$color-orange: #f37955;
$color-gray: #777;
$color-black: #040404;
$color-white: #fbfbfb;
$color-offwhite: #fbedda;
$color-darkblue: #262c40;
$color-darkblue2: #192333;
$color-orange: #f37955;