$background-color: #233059;

.footer {
    color: #f37955;
    // background-image: url('../images/dark-grey-terrazzo.png');
    background: 
        url('../images/dark-grey-terrazzo.png'), 
        linear-gradient(rgba($background-color, 0.8),
        rgba(255, 255, 255, .8));
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    &__item {
        padding: 1rem;
    }
}