.footer {
    color: #f37955;
    background: url('../images/dark-grey-terrazzo.png');
    font-size: 3rem;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    &__item {
        padding: 1rem;
    }
}