.footer {
    // min-height: 5rem;
    color: orange;
    background-color: gray;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    &__item {
        // margin: 1rem;
        padding: 1rem;
    }
}