$color-gray: #777;
$color-white: #fbfbfb;
$color-offwhite: #fbedda;
$color-peach: #f27b55;
$color-darkpeach: #e19a86;
$color-blue: #555bf2;
$color-green: #58f255;

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
} 

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} 

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    line-height: 1.7;
}
 
.header {
    height: 100vh;
    font-size: 20px;
    background-image: 
        linear-gradient(to right bottom,
        rgba($color-darkpeach, 0.7), 
        rgba($color-gray, 0.7)),
        url('../images/pcwb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
     
    &__box {
        color: $color-offwhite;
        color:  black;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        line-height: 2;
    }

    &__line {
        background-image: linear-gradient(to left, $color-white, $color-offwhite);
        height: .5rem;
        border: none;
    }

}  