.footer {
  color: #f37955;
  background: #192333;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  text-indent: 0; }
  .footer__item {
    margin: 1rem; }
    .footer__item:hover {
      color: #fdeae4; }

.nav {
  display: flex;
  font-size: 2.1rem;
  z-index: 3; }
  .nav__link {
    color: white; }

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Medium.ttf); }

@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather-Regular.ttf); }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes lineDrawToRight {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes lineDrawToLeft {
  0% {
    left: 100%;
    width: 0; }
  100% {
    left: 0;
    width: 100%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  line-height: 1.7;
  color: #fbedda;
  text-indent: 4rem; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

.header {
  height: 100vh;
  font-size: 2.1rem;
  background-image: linear-gradient(to right bottom, rgba(4, 4, 4, 0.5), rgba(4, 4, 4, 0.5)), url("../images/trumpet.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: Rubik; }
  .header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #262c40;
    animation: fadeOut 6s forwards 5s; }
  .header__box {
    text-transform: uppercase;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 2;
    white-space: nowrap; }
  .header__title-main {
    animation: fadeIn 1.5s;
    font-size: 5rem; }
    .header__title-main:before, .header__title-main:after {
      content: '';
      width: 100%;
      border-bottom: solid 0.5rem #fbedda;
      position: absolute;
      z-index: 1; }
    .header__title-main:before {
      left: 0;
      top: 0%;
      animation: lineDrawToRight .8s ease-in 2s backwards; }
    .header__title-main:after {
      left: 0;
      top: 55%;
      animation: lineDrawToLeft .8s ease-in 2s backwards; }
  .header__title-sub {
    animation: fadeIn 5s 3.5s backwards; }
  .header__scroller {
    line-height: 0.8;
    font-size: 1.5rem;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%);
    text-transform: lowercase;
    animation: fadeIn 5s backwards 7s; }
    .header__scroller span {
      display: block; }
    .header__scroller:hover {
      color: #e2e2e2;
      transform: translate(-50%, 0.2rem); }

.about {
  font-size: 2.5rem;
  background: linear-gradient(to top, #192333, #262c40);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  font-family: Merriweather; }
  .about__content {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .about__content-image {
      width: 50%;
      height: auto; }

.director {
  color: #192333;
  background-color: #fbfbfb;
  font-size: 2.1rem; }
  .director__header {
    font-family: Rubik;
    font-size: 3rem;
    min-height: 75vh;
    background-attachment: fixed;
    background-position: center;
    background-image: url("../images/dark-grey-terrazzo.png");
    position: relative; }
    .director__header-title {
      color: #fbfbfb;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .director__bio {
    font-family: Merriweather;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 8fr 1fr;
    margin: 2rem;
    min-height: 100vh;
    align-self: start;
    position: relative; }
    .director__bio-summary {
      grid-column: 7 / 10; }
      .director__bio-summary hr {
        animation: lineDrawToRight 3s 1s backwards; }
      .director__bio-summary-first {
        font-size: 3rem;
        color: #f37955; }
      .director__bio-summary-first:hover {
        color: #f05325; }
    .director__bio-image {
      grid-column: 1 / 6; }
      .director__bio-image img {
        max-width: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 2rem;
        height: auto;
        border-radius: .5rem;
        border: 1px solid #262c40; }
