<!doctype html>
<head>
    <%-include ('../partials/head', {title: 'PCWB - Director'}); %>
</head>
<html>
    <body>
        <div style='color: black;'>
            Director Page
        </div>
    </body>
</html>