<!doctype html>
<head>
    <%-include ('../partials/head', {title: 'PCWB - Home'}); %>
</head>
<html>
<body>
    <header class='header'>
        <%-include ('../partials/nav', {location: 'home'}); %>
        <div class='header__box'>
            <h1 class='header__title-main'>The Penn Central Wind Band</h1>
            <h2 class='header__title-sub'>William Kenny, Conductor</h2>
        </div>
        <div class='header__scroller'>
            <a class='header__scroller-link' href='#info'>
                <span>Info</span>
                <i class="fas fa-angle-down fa-3x"></i>
            </a>
        </div>
    </header>
    <div class='about' id='info'> 
        <div class='about__content'>
            <h2>About Us</h2>
            <p>
                The Penn Central Wind Band is an all-volunteer organization sponsored by Bucknell University as a service to the region. Many members of the band live in central Pennsylvania, but some travel from far afield to rehearse and perform with the ensemble. Many of the band's members hold music degrees, and are music teachers and professional performers, athough all are great players!
            </p>
            <p>
                The PCWB, founded in 1994, is one of the few select ensembles to have been awarded the Silver Sudler Scroll, awarded by the John Philip Sousa Foundation "recognizing community and adult concert bands of outstanding musical excellence." Other honors include invitations to perform for the conference of the Pennsylvania Music Educators Association and the national convention of the Association of Concert Bands. William Kenny, the band's founder and conductor, is professor of music at Bucknell, where he has taught for the past 30 years.
            </p>
            <img class='about__content-image' src="/images/PCWBseal.png" alt="Penn Central Wind Band Seal" />
        </div>
    </div>
    <%- include ('../partials/footer'); %> 
</body>
</html>