<!doctype html>
<html>
<head>
    <%-include ('../partials/head', {title: 'PCWB | Media'}); %>
</head>
<body class='media'>
    <header class="media__header subpage__header">
        <%- include ('../partials/nav', {location: 'media'}); %> 
        <h1 class='media__header-title subpage__header-title'>Programs and Audio Recordings</h1>
    </header>
</body>
</html>