<!doctype html>
<html>
<head>
    <%-include ('../partials/head', {title: 'PCWB | Media'}); %>
</head>
<body>
    <header>
        <% include '../partials/nav', {location: 'media'}; %> 
    </header>
    
</body>
</html>